@import url("https://fonts.googleapis.com/css2?family=Headland+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
.maincontainer {
  background-color: #f7f3e9;
}
p {
  padding: 10%;
  text-align: center;
}
.first {
  background-color: #f7f3e9;
  height: 100vh;
  position: relative;
}

#path {
  height: 80%;
  width: 80%;
  padding-top: 20px;
  padding-left: 10%;
}

.second {
  background-color: #8ab6d6;
  height: 100vh;
}

.third {
  background-color: #00b8a9;
  height: 100vh;
}

.fourth {
  background-color: #fce38a;
  height: 100vh;
}

.dp {
  max-width: 250px;
  max-height: 250px;
  height: auto;
  width: auto;
  padding-left: 2vw;
  padding-top: 2vh;
  display: inline-block;
}

h2 {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 3vw;
  padding-left: 15vw;
  padding-top: 5vw;
  overflow: hidden;
  display: inline-block;
  font-weight: bold;
}

h1 {
  position: relative;
  font-family: "Headland One", serif;
  font-size: 4vw;
  padding-left: 15vw;
  padding-top: 5vw;
  overflow: hidden;
  display: inline-block;
}

h1 .box {
  position: absolute;
  bottom: 0;
  display: inline-block;
  background: #3edbf0;
  height: 0.5vw;
  z-index: -1;
}

h1 .hi {
  display: inline-block;
}

.about-div {
  border-radius: 50px 50px 50px 50px;
  height: 70vh;
  width: 70vw;
  background-color: #f7d9d9;
  margin-left: 20%;
  margin-top: 5%;
  vertical-align: center;
}

.abpara {
  font-family: "Roboto", sans-serif;
}

/* .playpic {
  height: 200px;
  width: 200px;
  padding: 100px;
}
.circle {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  padding: auto;
  text-align: center;
} */
